
/* GENERAL LAYOUT AND BREANDING */
body {
    font-family: 'abril-text' !important;
}

.site-branding {
    font-family: 'abril-text';
}

.site-branding .site-branding__name a {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 1.4em;
}

h1.title {
    font-size: 2.5em;
    font-family: 'abril-text';
}

.feed-icons {
    display:none;
}

#header {
  background-color: #050939;
  background-image: -webkit-linear-gradient(top, #050939 0%, #050939 100%);
  background-image: linear-gradient(to bottom, #050939 0%, #050939 100%);
}

.sidebar .block {
  border-color: #1f2534;
  background-color: #ffffff;
}
.site-footer {
  background: #050939;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #a6e5d8;
}

.site-branding__logo img {
  margin-top: 1.2em;
  margin-right: 1em;
  width: 5em;
}

/* LINKS IN GENERAL */
a,
.link {
  color: #4bb0c7;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #3ad2f5;
}
a:active,
.link:active {
  color: #62e1fd;
}


/* VIEWS */
.joinTable th,
.views-field,
.field__label,
.views-field-name,
.views-field-title,
.field-title,
.field__item,
.field--name-field-category,
.node-type-list,
li.menu-item {
    font-family: "adelle-sans" !important;
    font-size: 1.4em;
}


.views-field a,
.views-field-name a,
.views-field-title a,
.field-title a,
.field__item a,
.field--name-field-category a,
li.menu-item a,
.node-type-list a {
    text-decoration: none;
    border-bottom: none;
}


/* Hide revision info form */
.entity-content-form-revision-information, .vertical-tabs {
  display: none !important;
}

/* Tables: */
tr {
    background: none;
}

/* Names column: make it wider so long names don't wrap. */
.view-all-users-with-expert-software .views-field-title {
  width: 30%;
}

div.block-views-blockusers-hidden-block-1, div.block-views-blockpower-users-hidden-block-1 {
  display: none;
}